# Virtual environments
venv/
*/venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
staticfiles/
media/

# Environment variables
.env

# Editor files
.vscode/
.idea/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db
