{% load static %}
<!doctype html>
<html lang="fa">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>WP-Project | ورود به سامانه</title>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'demo/styles.css' %}" />
  </head>
  <body dir="rtl">
    <main class="landing">
      <header class="hero card">
        <p class="tag">سامانه آثار و پرونده‌ها</p>
        <h1>ورود امن به محیط سامانه</h1>
        <p class="subtitle">
          برای شروع، لطفاً ثبت‌نام کنید و سپس از نام کاربری/کد ملی/شماره تماس/ایمیل و رمز عبور خود برای ورود
          استفاده نمایید. دسترسی به امکانات مدیریتی صرفاً از روی پنل ادمین انجام می‌شود.
        </p>
        <div class="hero-actions">
          <a href="/register/" class="button">ثبت‌نام</a>
          <a href="/login/" class="button ghost">ورود کاربر</a>
          <a href="/admin/" class="button ghost">ورود به پنل ادمین</a>
        </div>
      </header>
    </main>
  </body>
</html>

